/* https://fonts.google.com/selection/embed#:~:text=%40import%20url(%27https%3A//fonts.googleapis.com/css2%3Ffamily%3DMulish%3Aital%2Cwght%400%2C200..1000%3B1%2C200..1000%26display%3Dswap%27)%3B */

@import url('https://fonts.googleapis.com/css?family=Muli%3A300%2C300i%2C400%2C400i%2C600%2C600i%2C700%2C700i%2C800%2C800i&ver=1.2.0');

:root {
	/* --oi-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
	--oi-font-family: Muli;
	--oi-blue-dark: #003266;
	--oi-blue-medium: #0080d7;
	--oi-blue-light: #d7e3f3;
}

body {
	background-color: var(--oi-blue-light);
}

#titleInterna .title {
	color: var(--oi-blue-medium);
	font-family: var(--oi-font-family);
	letter-spacing: unset;
	font-weight: 800;
	font-size: 2.5rem;
}

#box-price #result {
	color: var(--oi-blue-medium) !important;
	font-family: var(--oi-font-family);
	font-weight: 800;
}

#box-price a {
	color: var(--oi-blue-medium);
}

.buttons .btn.btn-next {
	background: #34DD39;
	color: #FFFFFF;
	padding: 1rem 5rem;
	font-size: 1.75rem;
	font-weight: 800;
	border-radius: 0;
	font-family: var(--oi-font-family);
	letter-spacing: unset;
	text-transform: capitalize;
}

.buttons .btn.btn-next:hover,
.buttons .btn.btn-next:focus,
.buttons .btn.btn-next:active {
	background: #003266;
	color: #FFFFFF;
	outline: none;
}

.buttonGris.btn.btn-prev {
	background: transparent;
	color: var(--oi-blue-dark);
	padding: 1rem 5rem;
	font-size: 1.75rem;
	font-weight: 800;
	border-radius: 0;
	font-family: var(--oi-font-family);
	letter-spacing: unset;
	text-transform: capitalize;
}

.buttonGris.btn.btn-prev:hover,
.buttonGris.btn.btn-prev:focus,
.buttonGris.btn.btn-prev:active {
	background: var(--oi-blue-dark);
	color: #FFFFFF;
	outline: none;
}

#u_content_html_3 button {
	font-family: var(--oi-font-family) !important;
	font-size: 1rem !important;
	font-weight: 800 !important;
	background: #003266 !important;
	color: #FFFFFF !important;
	outline: none !important;
	border: none !important;
	border-radius: 0 !important;
	padding: 1rem 2rem !important;
	letter-spacing: unset !important;
	text-transform: capitalize !important;
}

input[type*="text"],
input[type*="email"],
input[type*="password"],
select,
textarea {
	border: solid 1px var(--oi-blue-medium);
	font-family: var(--oi-font-family);
	font-weight: 400;
}

.cont_form_ .form-group label {
	font-family: var(--oi-font-family);
	color: var(--oi-blue-dark);
}

.cont_form_ .form-group .info.error {
	font-family: var(--oi-font-family);
	font-weight: 400;
}

.cont_form_ .form-group .helptext * {
	font-family: var(--oi-font-family);
	font-weight: 400;
}

.steps h3 {
	font-family: var(--oi-font-family);
	color: var(--oi-blue-dark);
	font-weight: 800;
	font-size: 2rem;
}

.steps h3:first-letter {
	text-transform: uppercase;
}

.cont_form_ .form-group {
	padding: 15px 15px;
}

#box-price h2 {
	font-family: var(--oi-font-family);
	letter-spacing: unset;
	background: var(--oi-blue-dark);
	font-weight: 800;
	font-size: 1.75rem;
	padding: 1rem 1.25rem;
	color: #FFFFFF;
}

.ui-widget-header {
	background: var(--oi-blue-medium) !important;
	border: 0px none;
}

.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
	background-image: url(images/ui-icons_0080d7_256x240.png);
}

.cont_form_ .form-group .days.days2 {
	color: var(--oi-blue-medium);
}

p.timertext {
	background-color: var(--oi-blue-dark) !important;
	font-family: var(--oi-font-family);
}

p.leyend {
	color: var(--oi-blue-medium) !important;
	font-family: var(--oi-font-family);
}

@media (max-width: 991px) {
	#box-price-sticky-wrapper {
		height: auto !important;
	}
	#box-price-sticky-wrapper #box-price {
		position: relative !important;
		top: unset !important;
		max-width: unset !important;
		top: 0 !important;
		margin-top: 50px !important;
	}
}

#tostext h2.ttl_step {
	color: var(--oi-blue-medium);
	font-family: var(--oi-font-family);
	letter-spacing: unset;
	font-weight: 800;
	font-size: 2.5rem;
}

.ratos {
	color: var(--oi-blue-medium);
	font-family: var(--oi-font-family);
	letter-spacing: unset;
	font-size: 1em;
}

.step.step1 .infoContent {
	display: grid;
	width: 100%;
	background: white;
	padding-top: 15px;
	padding-bottom: 15px;
}

.infoContent #titleInterna .title,
.infoContent #textInterna .steps h3 {
	text-align: left;
	padding-left: 15px;
}

.step.step3 .infoContent>#sidebar,
.step.step1 .infoContent>#sidebar {
	display: none;
}

.step.step3 .infoContent>.col-md-12,
.step.step1 .infoContent>.col-md-12, 
.step.step3 .infoContent>.col-md-9,
.step.step1 .infoContent>.col-md-9 {
	width: 100%;
	padding-left: unset;
	padding-right: unset;
}

#titleInterna h2 {
	text-align: center !important;
	margin-bottom: 0;
	line-height: unset;
}
#titleInterna h3 {
	text-align: center !important;
	margin-top: 0;
	margin-bottom: 20px;
}

body.step.step1 .infoContent > img,
body.step.step2 .infoContent > img,
body.step.step3 .infoContent > img,
body.step.step4 .infoContent > img {
	border-bottom: 15px solid white;
	box-shadow: 0px 30px 0px var(--oi-blue-light), -50vw -14px 0px 14px white , 50vw -14px 0px 14px white;
	margin-bottom: 10px;
}